historical_data/test_notebook.ipynb
historical_data/dashboard_test.ipynb
historical_data/dashboard.ipynb
historical_data/tankerkoenig-data/prices
historical_data/tankerkoenig-data/stations
historical_data/archiv
__pycache__