dash==2.7.1
dash-bootstrap-components==1.3.0
fpdf2==2.6.0
geocoder==1.38.1
geopy==2.3.0
GitPython==3.1.30
openpyxl==3.0.10
pgeocode==0.4.0
Pillow==9.4.0
pygame==2.1.2
scikit-learn==1.2.0
tensorflow==2.11.0
tkintermapview==1.27